$textColor: #333;
$background: #F9F9F9;
$unitHeight: 18px;

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	font-size: $unitHeight;
	font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
	max-width: 650px;
	padding: 0px 5%;
	margin: 0 auto;
}
a, .content .project-title a, .header .contacts a, .header .title a {
	color: inherit;
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
	}
}
.header {
	background-color: $background;
	padding: calc(4 * #{$unitHeight}) 0px;
	border-bottom: 1px solid #F0F0F0;
	.title {
		margin: 0em 0em calc(2 * #{$unitHeight});
		position: relative;
		// left: -7px;
		font-weight: 800;
		a {
			text-decoration: none;
		}
	}
	.description {
		margin: 0em 0em calc(2 * #{$unitHeight});
	}
	.contacts {
		font-size: 14px;
		font-family: 'Courier';
		a {
			opacity: 0.5;
			text-decoration: none;
		}
		.spacer {
			padding: 0em 1em;
		}
	}
	
}
.content {
	padding: calc(4 * #{$unitHeight}) 0px;
	.project-wrapper {
		// font-size: 18px;
		margin-bottom: calc(4 * #{$unitHeight});
	}
	.project-title {
		font-weight: 800;
		display: block;
		margin-bottom: calc(0.5 * #{$unitHeight});
		// margin-bottom: $unitHeight;
		a {
			text-decoration: none;	
		}
	}
	.project-description {

	}
	p, ul, ol, h1, h2, h3, img, video, iframe {
		margin: 0em 0em 2em;
		line-height: 1.6;
		max-width: 100%;
	}
	code {
		background: #f0f0f0;
		display: block;
		padding: 0.5em 1.5em;
		white-space: pre;
		border-radius: 2px;
		overflow-x: scroll;
	}
}