.navbar {
	// height: 50px;
	color: $textColor;
	// line-height: 50px;	
	padding: 0em 1em;
	width: 100%;
	top: 0;
	z-index: 1000000;

	.logo {
		font-size: 3em;
		display: inline-block;
		font-weight: 900;
	}
	.nav-links {
		display: inline-block;
		float: right;
	}
	a {
		text-decoration: none;
		color: inherit;
		padding: 0em 1em;
	}
}

