.project-page {
	.project-title {
		padding-bottom: 5em;
	}
	img {
		max-width: 100%;
		width: auto;
		padding: 3em 0em;
		margin: 0 auto;
		display: block;
	}
	iframe {
		width: 100%;
		padding: 3em 0em;
		margin: 0 auto;
		height: 400px;
	}
}
